

<div [ngSwitch]="grading">

<div class="container" *ngSwitchCase="false">
  <h5>{{question.question}}</h5>
  <label class="list-group-item shadow list-group-item-action rounded">
  <input
    type="radio"
    value="true"
    [(ngModel)]="question.answer"
    name="{{question._id}}"/>
  True
</label>
<label class="list-group-item shadow list-group-item-action rounded">
  <input
    type="radio"
    value="false"
    [(ngModel)]="question.answer"
    name="{{question._id}}"/>
  False
</label>
  Your Answer : {{question.answer}}
  <br/>
  <button class="btn btn-success" type="submit" (click)="submitAnswer()">Submit Answer</button>
  <button class="btn btn-success float-right" type="submit" (click)="grading=true">Grade</button>
</div>
<br/>

  <div class="container" *ngSwitchCase="true">
    <span [hidden]="question.answer !== question.correct">
      <div class="row">
          <div class="col"><h5>{{question.question}}</h5></div>
          <div class="col"><fa-icon class="float-right" [icon]="faCheck" [hidden]="question.answer !== question.correct"></fa-icon></div>
      </div>
        <label class="list-group-item shadow list-group-item-action rounded"
               [class]="{'list-group-item-success': question.correct === 'true'}">
          <input
            type="radio"
            value="true"
            name="{{question._id}}"
            [checked]="question.answer === 'true'"
          />
          True
          <fa-icon class="float-right"
                   [icon]="faCheck"
                   [hidden]="question.answer !== 'true'"
          ></fa-icon>
        </label>
        <label
          class="list-group-item shadow list-group-item-action rounded"
          [class]="{'list-group-item-success': question.correct === 'false'}">
          <input
            type="radio"
            value="false"
            name="{{question._id}}"
            [checked]="question.answer === 'false'"
          /> False
          <fa-icon class="float-right"
                   [icon]="faCheck"
                   [hidden]="question.answer !== 'false'"
          ></fa-icon>
        </label>
    </span>
    <span [hidden]="question.answer === question.correct">
      <div class="row">
          <div class="col"><h5>{{question.question}}</h5></div>
          <div class="col"><fa-icon class="float-right" [icon]="faTimes" [hidden]="question.answer === question.correct"></fa-icon></div>
      </div>

      <label class="list-group-item shadow list-group-item-action rounded"
             [class]="{'list-group-item-success': question.correct === 'true','list-group-item-danger': question.correct !== 'true'}">
          <input
            type="radio"
            value="true"
            name="{{question._id}}"
            [checked]="question.answer === 'true'"
          />
          True
          <fa-icon class="float-right"
                   [icon]="faCheck"
                   [hidden]="question.answer !== 'true'"
          ></fa-icon>
          <fa-icon class="float-right"
                   [icon]="faTimes"
                   [hidden]="question.answer === 'true'"
                   ></fa-icon>
        </label>
        <label
          class="list-group-item shadow list-group-item-action rounded"
          [class]="{'list-group-item-success': question.correct === 'false','list-group-item-danger': question.correct !== 'false'}">
            <input
              type="radio"
              value="false"
              name="{{question._id}}"
              [checked]="question.answer === 'false'"
            /> False
            <fa-icon class="float-right"
                     [icon]="faCheck"
                     [hidden]="question.answer !== 'false'"
            ></fa-icon>
            <fa-icon class="float-right"
                     [icon]="faCheck"
                     [hidden]="question.answer === 'false'"
            ></fa-icon>
          </label>
    </span>

  </div>

</div>

<!--Correct Answer : {{question.correct}}-->
<!--<br/>-->



